body{
	background: DarkSlateGray ;
	padding-left: 25px;
}
h1{
/*
	text-align: center;
*/
	color: NavajoWhite;
	padding-left: 450px;
}
div 
{
	display: inline-table;
}

#init
{
	padding-left: 10px;
	padding-top: 50px;
	border-top-left-radius: 160px;
	border-top-right-radius: 160px;
	border-bottom-right-radius: 160px;
	border-bottom-left-radius: 160px;
	height: 250px;
	width: 300px;
	border: 2px solid FireBrick ;
	background: lightgreen;
}

#local
{
	padding-left: 30px;
	padding-top: 80px;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
	border-bottom-left-radius: 200px;
	height: 300px;
	width: 350px;
	border: 5px solid black;
	background: DarkOrange;
	/* Zentrieren */
/*
	position: absolut;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -150px;
*/
}
#commit
{
/*
	background: DarkSalmon ;
*/
}
#branches
{
/*
	background: Coral;
*/
}

#global
{	
	font-size:xx-small;
	padding-top: 80px;
	border-top-left-radius: 160px;
	border-top-right-radius: 160px;
	border-bottom-right-radius: 160px;
	border-bottom-left-radius: 160px;
	height: 200px;
	width: 300px;
	border: 2px solid green;
	background:  LimeGreen ;
	margin-left: -7px;
	margin-bottom: 10px;
}

#remote
{
	padding-left: 10px;
	padding-top: 80px;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
	border-bottom-left-radius: 200px;
	height: 270px;
	width: 350px;
	border: 2px solid yellow;
	background: MediumAquaMarine;
}
@media only screen and (max-device-width: 1200px)
{
	body
	{
		font-size: 120%;
	}
	div{
		display: table;
	}
	h1{
		text-align: left;
		padding-left: 100px;
	}
}

@media only screen and (max-device-width: 560px)
{
	body
	{
		font-size: 150%;
	}
	
	#init,#local,#remote{
		display: table;
		width: 480px;
		height: 450px;
	}
	#global{
		display: table;
		width: 480px;
		height: 200px;
	}
	h1{
		text-align: left;
		padding-left: 160px;
	}
}
